<ion-view ng-controller="TodoController">
  <!-- <div class="bar bar-header">

  </div> -->
  <div class="bar bar-header">
    <i class="icon ion-arrow-left-c arrow-back" ui-sref="app.homepage"></i>
    <div class="col col-80">
                <img class="side-logo" src="assets/images/vercons_icon.png" style="heigth:30px; width:30px; margin-left:50px; margin-top:5px;"><h4><span class="title" style="margin-top:10px; margin-left:38px;"><b>About</b></span></h4>
    </div>
  </div>
  
  
  <ion-content>
    <div class="container" style="margin-top:21%;">
      <div class="card card-size-about">
        <div class="item item-text-wrap">
          <h3><b>About</b></h3><br>
           Offering our customers "Every Day Low Price" merchandise, providing them with aggressive hospitality, and having them leave 100% satisfied everyday since 1987.
          <br><br><br>
        <h3><b>Company Overview</b></h3><br>
          Vergaras S/M 6am-6pm<br>
          Vercons Dinalupihan 7am-7pm<br>
          Vercons Balanga 8am-8pm<br>
          Vercons Orion 5am-7pm<br>
          Vercons Trading and Poultry Suppply 6:30am-5:30om<br>
          La Vercons Bakeshop 7am-6pm<br>
          Monterey Meat Shop 8am-8pm<br>
          Vercons Gapo1 7am-9pm<br>
          Vercons Gapo2 5am-7pm<br>
          Vercons Subic 7am-8pm<br>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
