<ion-view ng-controller="SearchController">
 <div class="bar bar-header">
    <i class="icon ion-arrow-left-c arrow-back" ui-sref="app.search"></i>
    <div class="col col-80">
                <img class="side-logo" src="assets/images/vercons_icon.png" style="heigth:30px; width:30px; margin-left:100px; margin-top:5px;"><h4><span class="title" style="margin-top:10px; margin-left:30px;"><b>Map</b></span></h4>
    </div>
  </div>

<ion-content class="padding" style="margin-top:15%">
  
<div class="background-header-map">

</div>
</ion-content>
</ion-view>
