<ion-view ng-controller="SearchController">
 <div class="bar bar-header">
    <i class="icon ion-arrow-left-c arrow-back" ui-sref="app.search"></i>
    <div class="col col-80">
                <img class="side-logo" src="assets/images/vercons_icon.png" style="heigth:30px; width:30px; margin-left:54px; margin-top:5px;"><h4><span class="title" style="margin-top:10px; margin-left:28px;"><b>Map</b></span></h4>
    </div>
  </div>

<ion-content class="padding" style="margin-top:15%">
  
<div class="background-header-map">

</div>
<ul class="list home-list1">
        <!-- <div class="item item-divider "><h2 style="font-size:17px; color:#000;">Medicines</h2></div> -->

     
            <div class="row">
              <div class="col col-80">
                <img class="side-logo" src="assets/images/orange.png" style="heigth:30px; width:30px;"><span class="title">indicates the location of the item</span>
              </div>
             
            </div>
      
        
    
            <div class="row">
              <div class="col col-80">
                <img class="side-logo" src="assets/images/green.png" style="heigth:30px; width:30px;"><span class="title">indicates the section of the item</span>
              </div>
             
            </div>
 
  
 
      </ul>
  
</ion-content>
</ion-view>
