<ion-view ng-controller="TodoController">
  <div class="bar bar-header">
      <i class="icon ion-arrow-left-c myicon1" ui-sref="app.alarmMed"></i>

  </div>

  <ion-content class="padding" style="margin-top:13%">
    <div class="search-bar">
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-model="search.menu_name" placeholder="Search here...">
          </label>
        </div>
      </div>
    <!-- <div class="list card">

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-ios-search"></i>
    <label class="item item-input">
		<input type="text" placeholder="Search Medicine" ng-model="search">
    </label>
  </a>

</div> -->


</ion-content>
</ion-view>
