<ion-nav-view name="menuContent"></ion-nav-view>
<div class="hide-on-keyboard-open">
  <div class="tabs tabs-icon-top t-background">

    <a class="tab-item" style="margin-top:4%; color:#fff;" href="#/app/alarmMed">
            <i class="icon ion-home"> </i>
    </a>
<!--
    <a class="tab-item" style="margin-top:4%; color:#fff;" href="#/app/addMed">
            <i class="icon ion-plus" > </i>
        </a>
-->
<!--
    <a class="tab-item" style="margin-top:4%; color:#fff;" href="#/app/meansMed">
            <i class="icon ion-search" > </i>
        </a>
-->
        <!-- <a class="tab-item" style="margin-top:4%; color:#fff;" href="#/app/notification">
                <i class="icon ion-android-notifications" ></i>
            </a> -->
  </div>
</div>
