<ion-view ng-controller="TodoController">
  <!-- <div class="bar bar-header">

  </div> -->
  <div class="bar bar-header">
    <i class="icon ion-arrow-left-c arrow-back" ui-sref="app.homepage"></i>
    <div class="col col-80">
                <img class="side-logo" src="assets/images/vercons_icon.png" style="heigth:30px; width:30px; margin-left:55px; margin-top:5px;"><h4><span class="title" style="margin-top:10px; margin-left:60px;"><b>Promo's and Sales</b></span></h4>
    </div>
  </div>
  
  <div class="background-header-promosandsales">

  </div>

  <ion-content>
    <div class="container card-promosandsales">
      <div class="card card-size-promosandsales">
        <div class="item item-text-wrap">
            Alam mo na ba ang bagong pointing system ng V-card mo suki? Halina't alamin! Mas pinahusay at mas pinagandang V-card pointing system ang handog ni Tita Cons para sayo! Dahil dito #SaVerconsSiguradongAASENSOka! :D
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
